* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  height: 100svh;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
}

#canvas {
  border: 1px solid black;
  image-rendering: pixelated;
  scale: 3;
}
