* { box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;

  height: 100svh;
  height: 100vh;

  background-color: black;
}

body {
  display: flex;
}

#canvas {
  width: 100%;
  object-fit: contain;

  border: 1px solid black;
  background-color: black;

  image-rendering: crisp-edges;
  image-rendering: pixelated;
}

img {
  display: none;
}
